html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  color: #151515; }

.header__info {
  padding: 1.6rem 4.5rem;
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  border-bottom: rgba(21, 21, 21, 0.05) 1px solid; }

.header__contact {
  display: flex;
  justify-content: space-between;
  gap: 0 3.3rem; }
  .header__contact h6 {
    font-size: 1.2rem; }

.header__shortcut {
  display: flex;
  justify-content: space-between;
  gap: 0 3.8rem; }
  .header__shortcut a {
    color: #6A983C;
    font-size: 1.2rem; }

.header__chat {
  color: #6A983C; }

.header__main {
  padding: 4rem 4.5rem;
  display: flex;
  justify-content: space-between; }

.header__lookup {
  display: flex;
  background-color: #F9F9F9;
  border-radius: 1.5rem;
  border: #D1D1D1 1px solid;
  align-items: center;
  justify-content: center; }

.header__category-select--field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 1rem 1.6rem;
  width: 13rem; }
  .header__category-select--field img {
    display: block;
    width: 1.6rem;
    height: 1.6rem; }

.header__category-select--text {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem; }

.header__ic-search {
  padding-right: 1.6rem; }

.header__category-select--list {
  list-style: none;
  position: absolute;
  width: 100%;
  background-color: #F9F9F9;
  left: 0;
  visibility: collapse;
  margin-top: 1rem;
  border-radius: 1.2rem;
  border: #D1D1D1 1px solid;
  transition: all 0.2s linear; }

.header__category-select--icon {
  transition: all 0.4s linear; }

.header__category-select--option {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  cursor: pointer; }
  .header__category-select--option:hover {
    background-color: #EBEBEB; }

.header__category-select {
  position: relative; }

.header__personal {
  display: flex;
  align-items: center; }

.header__cart {
  margin: 0 2rem;
  background-color: transparent;
  border: none;
  position: relative; }

.header__number-items {
  position: absolute;
  background-color: #E5704B;
  width: auto;
  line-height: 1.8rem;
  padding: 0 0.5rem;
  border-radius: 1.2rem;
  text-align: center;
  font-weight: 600;
  color: #FFF;
  bottom: -0.8rem;
  right: 50%; }

.header__account {
  margin: 0 2rem; }

.active {
  visibility: visible; }

.spin {
  transform: rotate(180deg); }

#header__search-bar {
  background-color: transparent;
  border: none;
  width: 26rem;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: block;
  padding: 1.1rem 1.2rem 1.1rem 2.4rem;
  line-height: 1.9rem; }
