@import "../../../../scss/variables.scss";
@import "../../../../scss/mixin.scss";
.detail{
    &__content {
        grid-area: content;
        margin-bottom: 6.2rem;
        height: fit-content;
    }
    &__add-wishlist{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        img{
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 0.8rem;
        }
        margin-top: 2.4rem;
        font-weight: 600;
        font-size: $fs5;
        line-height: $lh5;
    }
    &__title {
        font-size: $fs1;
        line-height: $lh1;
        color: $C1_A;
    }
    &__desc{
        font-size: $fssl;
        line-height: $lhsl;
        font-weight: 400;
        margin-top: 4rem;
    }
}