@import "../../../../scss/variables.scss";
@import "../../../../scss/mixin.scss";

.detail{
    &__info{
        display: flex;
        width: 100%;
        margin-top: 4rem;
        &--box1{
            display: grid;
            width: 27rem;
            grid-template-areas: "sku sku_value" "cate cate_value" "stock stock_value" "brand brand_value";
            margin-right: 3.2rem;
            grid-template-columns: auto ;
            row-gap: 1.2rem;
        }
        &--box2 {
            width: 27rem;
            display: grid;
            grid-template-areas: "freshness freshness_value" "unit unit_value" "deli deli_value" "area area_value";
            row-gap: 1.2rem;
            
        }
        &-value{
            
            font-size: $fssl;
            line-height: $lhsl;
            color: $C1_A;
            font-family: "Open Sans";
            font-weight: 400;
        }
        &-label{
            font-size: $fssl;
            line-height: $lhsl;
            color: $C1_C;
            font-family: "Open Sans";
            font-weight: 400;
        }
    }
    &__sku{
        &--label{grid-area: sku;}
        grid-area: sku_value;
    }
    &__cate{
        &--label{grid-area: cate;}
        grid-area : cate_value;
        text-decoration: underline;
    }
    &__stk{
        &--label{grid-area : stock;}
        grid-area: stock_value;
        text-decoration: underline;
        color:$C2_A;
    }
    &__brand {
        &--label{
            grid-area : brand;
        }
        grid-area : brand_value;
    }
    &__frn{
        &--label{
            grid-area: freshness;
        }
        grid-area : freshness_value;
    }
    &__unit{
        &--label{
            grid-area : unit;
        }
        grid-area: unit_value;
    }
    &__deli {
        &--label{
            grid-area: deli;
        }
        grid-area: deli_value;
    }
    &__area {
        &--label {
            grid-area : area;
        }
        grid-area: area_value;
    }

    
}