
@import "../../../scss/variables.scss";
.detail{
    &__layout{
        padding: 1.6rem 4.25rem;
        display: grid;
        grid-template-areas: "img content" "img info";
        grid-template-columns: auto 1fr;
        grid-template-rows: minmax(0,60rem) auto;
        gap: 3.2rem;
    }
    &__related{
        padding: 3.6rem 4.5rem;
        &-list{
            display: flex;
            gap: 0 2rem;
            overflow-x: auto;
        }
        &-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2.4rem;
            h4 {
                font-size: $fs4;
                line-height: $lh4;
                font-weight: 600;
            }
            a {
                font-size: $fs5;
                line-height: $lh5;
                font-weight: 600;
                display: flex;
                width: 16rem;
                align-items: center;
                img {
                    margin-left: .8rem;
                }
            }
        }
    }
}