
$font-primary: "Poppins", sans-serif;
$font-secondary: "Open Sans", sans-serif;
// color 
$C1_A : #151515;
$C1_B : #575757;
$C1_C : #A9A9A9;
$C1_D : #D1D1D1;
$C1_E : #EBEBEB;
$C1_F : #F5F5F5;
$C1_G : #EBEBEB;
$C1_H : #F9F9F9;


$C2_A : #6A983C;
$C2_B : #46760A;
$C2_C : #92C604;
$C2_D : #C8DEB3;
$C2_E : #F4F8EC;

$C3_A : #D0A866;
$C3_B : #B28A48;
$C3_C : #ECD2A6;
$C3_D : #FAEDD8;
$C3_E : #FFF9F0;

$C4_A : #E5704B;
$C4_B : #C7522D;
$C4_C : #EB8D70;
$C4_D : #F7C6B7;
$C4_E : #FFF1ED;

$C5_A : #37D0D6;
$C5_B : #19B2B8;
$C5_C : #7CD0D3;
$C5_D : #B9E6E8;
$C5_E : #ECF6F6;


