
$font-primary: "Poppins", sans-serif;
$font-secondary: "Open Sans", sans-serif;

$radius : 1.2rem;

//font size
$fs1 : 3.2rem;
$fs2 : 2.6rem;
$fs3 : 2.2rem;
$fs4 : 1.8rem;
$fs5 : 1.5rem;
$fs6 : 1.2rem;
//lineheight
$lh1 : 4.48rem;
$lh2 : 3.9rem;
$lh3 : 3.3rem;
$lh4 : 2.7rem;
$lh5 : 2.25rem;
$lh6 : 1.8rem;
// color 
$C1_A : #151515;
$C1_B : #575757;
$C1_C : #A9A9A9;
$C1_C_filter : brightness(0) saturate(100%) invert(80%) sepia(0%) saturate(24%) hue-rotate(222deg) brightness(86%) contrast(85%); ;
$C1_D : #D1D1D1;
$C1_E : #EBEBEB;
$C1_F : #F5F5F5;
$C1_G : #EBEBEB;
$C1_H : #F9F9F9;
$C1_J : #FFF;


$C2_A : #6A983C;
$C2_A_filter : brightness(0) saturate(100%) invert(56%) sepia(41%) saturate(604%) hue-rotate(47deg) brightness(88%) contrast(85%) ;
$C2_B : #46760A;
$C2_C : #92C604;
$C2_D : #C8DEB3;
$C2_E : #F4F8EC;

$C3_A : #D0A866;
$C3_B : #B28A48;
$C3_C : #ECD2A6;
$C3_D : #FAEDD8;
$C3_E : #FFF9F0;

$C4_A : #E5704B;
$C4_B : #C7522D;
$C4_C : #EB8D70;
$C4_D : #F7C6B7;
$C4_E : #FFF1ED;

$C5_A : #37D0D6;
$C5_B : #19B2B8;
$C5_C : #7CD0D3;
$C5_D : #B9E6E8;
$C5_E : #ECF6F6;


