@import "../../../../scss/variables.scss";

.detail{
    &__extenal {
        grid-area: info;
    }
    &__tabs{
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
       
        padding-bottom: 1.6rem;
        border-bottom: 1px solid $C1_D;
        margin-bottom: 4.8rem;

    }
    &__tab-item{
        display: flex;
        font-size: $fs4;
        line-height: $lh4;
        font-weight: 600;
        color : $C1_A;
        position: relative;
        align-items: center;
        &::after{
            content: "";
            width: 0;
            transform: translateX(-20%) ;
            height: 2px;
            background-color: $C2_A;
            position: absolute;
            bottom: -1.65rem;
            left:0;
            transition: all 0.3s linear;
            z-index: 100;
        }
        &--active::after{
            width: 180%;
        }
        
    }
    &__number-tag {
        padding: 0 .8rem;
        font-size: $fs6;
        line-height: $lh6;
        color: $C2_A;
        background-color: $C2_E;
        border-radius: $radius;
        margin-left: .8rem;
    }
}
