@import "./variables.scss";
html {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  // input,
  textarea,
  select,
  button {
    outline: none;
  }
  input {
    line-height: normal;
  }
  label,
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;

  }
  img {
    display: block;
    max-width: 100%;
  }
  button {
    background-color: transparent;
        outline: none;
        border: none;
}
// input {
//     background-color: transparent;
//     outline: none;
//     border: none;
//     -webkit-appearance: none;
// }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
a{
  color: #151515;
}
html {
  font-size: 62.5%;
  font-family: "Poppins";
}
body{
  overflow-x: hidden;
  overflow-y: scroll;
}
 body{
  -ms-overflow-style: none;
  scrollbar-width: none;
  }
  body::-webkit-scrollbar {
   display: none;
  }
  h1 {
    font-size: $fs1;
    line-height: $lh1;
    color: $C1_A ;
    font-weight: 600;
  }
  h2 {
    font-size: $fs2;
    line-height: $lh2;
    color: $C1_A ;
    font-weight: 600;
  }
  h3 {
    font-size: $fs1;
    line-height: $lh3;
    color: $C1_A ;
    font-weight: 600;
  }
  h4 {
    font-size: $fs4;
    line-height: $lh4;
    color: $C1_A ;
    // font-weight: 600;
  }
  h5 {
    font-size: $fs5;
    line-height: $lh5;
    color: $C1_A ;
    // font-weight: 600;
  }
  h6 {
    font-size: $fs6;
    line-height: $lh6;
    color: $C1_A ;
    // font-weight: 600;
  }