@import "../../../scss/variables.scss";
@import "../../../scss/mixin.scss";

.product {
    &__card {
        padding: 1.6rem;
        display: flex;
        flex-direction: column;
        // align-items: center;
        border-radius: $radius;
        border: 1px solid $C1_D;
        width: 27.1rem;
        margin: 0 1.6rem;
    }
    &__card-discount{
        color: $C2_A;
        background-color: $C2_E;
        line-height: 1.8rem;
        width: fit-content;
        padding: 0 1rem;
        border-radius: $radius;
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
    }
    &__card-cover {
        position: relative;
        flex: 1;
        max-width: 23.7rem;
    }
    &__card-img {
        margin-bottom: 1.6rem;
        
        height: auto;
        object-fit: cove;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__card-title {
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 500;
        margin-bottom: 0.4rem;
        color: C1_A;
        flex: 0;
    }
    &__card-desc {
        // flex:0;
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-family: $font-secondary;
        font-weight: 400;
        color: $C1_B;
        max-width: 27.1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
    &__card-payment {
        display: flex;
        margin-top: 1.6rem;
        justify-content: space-between;
        align-items: center;
        flex: 0;
    }
    &__card-newprice {
        font-size: $fs4;
        line-height: $lh4;
        font-weight: 600;
        color: $C1_A;
    }
    &__card-oldprice {
        font-size: $fs6;
        line-height: $lh6;
        font-weight: 600;
        color: $C1_C;
        text-decoration: line-through;
    }
    &__card-checkout {
        @include primaryButton (9rem ,0.65rem);
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.25rem;
    }

}